.order__card {
    width: 90%;
    height: fit-content;
    border: 1px solid lightgrey;
    margin: 10px 0 10px 0;
    padding: 5px 15px;
    background: white;
    position: relative;
}

.order__id {
    position: absolute;
    top: 5px;
    right: 20px;
}

