.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin: 15px;
    padding: 20px;
    /* width: 100%; */
    height: 400px;
    width: 300px;
    border: 2px solid whitesmoke;
    background-color: whitesmoke;
    z-index: 1;
    /* transform: scale(1); */
    transition: transform .2s;
    /* -webkit-box-shadow: 9px 9px 5px 0px rgba(94,93,87,1);
    -moz-box-shadow: 9px 9px 5px 0px rgba(94,93,87,1);
    box-shadow: 9px 9px 5px 0px rgba(94,93,87,1); */
}

.product:hover {
    transform: scale(1.1);
    border: 2px solid rgb(153, 151, 151);
    cursor: pointer;

}

.product > img {
    max-height: 200px;
    width: 100%;
    object-fit: contain;
    margin-top: 15px;
    margin-bottom: 15px;
}

.product__price {
    margin-top: 5px;
}

.product__info {
    height: 100px;
    margin-bottom: 15px;
    width: 100%;
}

.btn {
    background-color: #f0c14b;
    border: 1px solid;
    margin-top:10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
    padding: 10px
}

.btn:hover {
    background-color: rgb(17, 17, 17);
    color: white;
}