.subtotal {
    width: 300px;
    height: 100px;
    padding: 20px;
    background-color: #f3f3f3;
    border: 1px solid #dddddd;
    border-radius: 3px;
}

.subtotal__gift {
    display: flex;
    align-items: center;
}

.subtotal__checkout_btn {
    width: 100%;
    padding: 5px;
    cursor: pointer;
}

.subtotal__checkout_btn:hover {
    background-color: #131921;
    color: #cd9042;
    font-size: 16px;
    font-weight: bold;
}

.subtotal__checkout_btn:disabled {
    cursor: not-allowed;
}