.home {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 1500px;
}

/* .home__container {
    display: flex;
    flex-wrap: wrap;
} */

.home__offer_baner {
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
    padding: 10px;
    position: sticky;
    
}

.home__products {
    margin-left: 5px;
    margin-right: 5px;
}

.home__row {
    display: flex;
    flex-wrap: wrap;
    z-index: 1;
    justify-content: space;
}

.home__title {
    display: block !important;
    margin-left: 15px !important;
}

.home__image {
    width: 100%;
    z-index: -1;
    margin-bottom: -250px;
    /* position: fixed; */
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));;
}
